@model KyhCodeFirstWebApplication.ViewModels.TeamEditViewModel


@{
    ViewData["Title"] = "Teams";
}


<div class="card">
    <div class="card-header">
        <h1>Ändra team</h1>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" >
            <div class="form-group">
                <label asp-for="Name">Namn</label>
                <input class="form-control" asp-for="Name" />  
                <span asp-validation-for="Name" class="field-validation-error"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Founded">Founded</label>
                <input class="form-control" asp-for="Founded">
                <span asp-validation-for="Founded" class="field-validation-error"></span>
            </div>
            
            
            <div class="form-group">
                <label asp-for="City">City</label>
                <input class="form-control" asp-for="City">
                <span asp-validation-for="City" class="field-validation-error"></span>
            </div>
            
            @if (!string.IsNullOrEmpty(Model.PathToImage))
            {
                <div>Existing image
                </div>
                <div>
                    <img src="@Model.PathToImage" width="100px"/>
                </div>
            }

            <div class="form-group">
                <label asp-for="Bild">Bild</label>
                <input class="form-control" asp-for="Bild">
                <span asp-validation-for="Bild" class="field-validation-error"></span>
            </div>
            

            <button type="submit" class="btn btn-primary">Save</button>

        </form>

    </div>
</div>