@model KyhCodeFirstWebApplication.ViewModels.TeamIndexViewModel


@{
    ViewData["Title"] = "Teams";
}

<h1>Alla lagen </h1>
<ul>
@foreach (var team in Model.Items)
{
    <li>
        <a asp-controller="Team" asp-action="Edit" asp-route-id="@team.Id">
            @team.Name
        </a>
        
    </li>
}
</ul>