@model KyhCodeFirstWebApplication.ViewModels.PlayerEditViewModel

@{
    ViewData["Title"] = "Edit player";
}
<div class="card">
    <div class="card-header">
        <h1>Edit player</h1>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name">Namn</label>
                <input class="form-control" asp-for="Name" />  
                <span asp-validation-for="Name" class="field-validation-error"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Trojnummer">Tröjnummer</label>
                <input class="form-control" asp-for="Trojnummer" />
                <span asp-validation-for="Trojnummer" class="field-validation-error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <input class="form-control" asp-for="Description" />
                <span asp-validation-for="Description" class="field-validation-error"></span>
            </div>

            <button type="submit" class="btn">Save</button>

        </form>

    </div>
</div>